---
import { Image } from "@astrojs/image/components"
import logo from "/public/logo.svg"
---

<nav>
    <div class="container">
        <div class="navbar-container">
            <div class="logo">
                <Image src={logo} alt="suite logo" />
            </div>
            <a href="#">Request Beta Access</a>
        </div>
    </div>
</nav>

<style lang="sass">
    @import '../styles/variables'
    ul
        list-style: none
        margin: 0
        padding: 0

    a
        padding: .9rem 1.3rem
        border-radius: 6px
        border: 1px solid $color-dark-blue
        cursor: pointer
        @include sm-heading-bold
        background-color: transparent
        color: $color-dark-blue
        text-decoration: none

        &:hover
            background-color: $color-dark-blue
            color: $color-white

        @media only screen and (max-width: 550px)
            padding: .75rem 1rem !important

        @media only screen and (max-width: 350px)
            padding: .5rem .75rem !important
            font-size: 0.75rem !important
</style>
